 

.container input {
  font-size: 13px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #000000;
}
 
.container button{
  font-size: 13px;	
  width:90px;
  height:30px;
  color:664d1e;
  background: #FDE08D;
  background: -webkit-linear-gradient(top, #8f6B29, #FDE08D, #DF9F28);
background: linear-gradient(top, #8f6B29, #FDE08D, #DF9F28);
border:#8f6B29 2px solid;
}

button:hover{
   cursor:pointer;
    background: -webkit-linear-gradient(top, #DF9F28, #FDE08D, #8f6B29);
background: linear-gradient(top, #DF9F28, #FDE08D, #8f6B29);
}
 .mybox1 {
    display: none;
}


div,
span {
    font-size: 18px;
}

